{% load static %}

<!-- FOOTER -->
<footer class="bg-body-tertiary text-center mt-auto" style="background-color: transparent;">
    <!-- Grid container -->
    <div class="container-fluid p-1 mt-1" style="background-color: #dbd7d2;">
        <div class="row">
            <div class="col-md-5">
                <div class="footer-text">
                    <p class="footer-text">Travelling opens you up to different languages, cultures and traditions. 
                        <br>
                        It is very liberating and a wonderful experience to have.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Contact</h4>
                <p><i class="fas fa-phone"></i> 0800 608 1407</p>
                <p><i class="far fa-envelope"></i> info@globaldoctors.com</p>
                <p><i class="fas fa-home"></i> 1101 S Rogers CIR STE 4 Boca Raton FL 33487</p>
            </div>
            <div class="col-md-3 footer-box">
                <h4>Follow Us</h4>
                <p><a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Go to the facebook Global Doctors page" class="post-link"><i class="fab fa-facebook-f" ></i> Facebook</a></p>
                <p><a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Go to the facebook Global Doctors page" class="post-link"><i class="fab fa-twitter"></i> Twitter</a></p>
                <p><a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Go to the facebook Global Doctors page" class="post-link"><i class="fab fa-instagram"></i> Instagram</a>
                </p>
            </div>
        </div>
        <hr>
        <div class="copyright">
            <h6><i class="far fa-copyright"></i> Copyright | Global Doctors | 2024</h6>
        </div>
    </div>
</footer>
<!-- END OF FOOTER -->